<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery.js"></script>
    <style>
        *{
            margin:0;
            padding:0;
            list-style: none;
        }
        h1{
            font-size: 18px;
        }
    </style>
    <script>

        var temp = '<div class="article">' +
                '<a href="javascript:void(0)" id={{nid}}>{{title}}</a>' +
                '<p>{{summary}}</p>' +
                '<p>{{ create_time }}</p>' +
                '</div>'

        function parseString(str, obj) {
            Object.keys(obj).forEach(function (key) {
                str = str.replace(/\{\{(.*?)\}\}/g, (m, k) => obj[k.trim()])
            })
            return str;
        }


        $(function () {
            var url = "http://127.0.0.1:8889/"
            $.ajax({
                url: url + "index/",
                type: "get",
                success: function (d) {
                    console.log(d);
                    var data = d.data
                    for (var i = 0; i < data.length; i++) {
                        $(".list").append(parseString(temp, data[i]))
                    }
                    $(".article").find("a").on("click",function (e) {
                        var id = $(this).attr("id")
                        window.location.href="articleDetail.html?id="+id
                    })
                }
            })
        })
    </script>
</head>

<body>

<div class="article">
    <div class="list"></div>
</div>


</body>
</html>