<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery.js"></script>
    <script src="../static/common.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        h1 {
            font-size: 18px;
        }
    </style>
    <script>
        var url = "http://127.0.0.1:8889/"
        $.ajax({
            url: url + "login",
            type: "post",
            data: {'username': 'll', 'password': 'll'},
//            xhrFields: {
//                withCredentials: true
//            },
//            data: { 'username': 'll', 'password': 'zxcv0.123' },
            success: function (d) {
                console.log(d);
            }
        })


    </script>
</head>

<body>


</body>
</html>